body > header {
  box-sizing: border-box;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FD9A24;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");

}

/* Media Query for landscape tablets (768px or higher) */

@media only screen and (min-width: 768px) {
  body > header {
    width: 30%;
    margin: 50px 5%;
  }
}
