nav {
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
  height: 120px;
  width: 100%;
  background-color:  #FD9A24;  
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav .nav-title {
  font-family: 'Bungee', cursive, sans-serif;
}

nav .show-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes up-down {
  0% {transform: translateY(2px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(2px);}
}

nav .show-form-button {
  font-size: 1em;
  animation: up-down 2s infinite;
}

nav .show-form-button:hover {
  cursor: pointer;
}

/* Media Query for landscape tablets (768px or higher) */

@media only screen and (min-width: 768px) {
  nav {
    background: #4056A1;
  }

}
