nav {
  display: block;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  background-color:  #FD9A24;  
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav span {
  font-family: 'Bungee', cursive, sans-serif;
}

@media only screen and (min-width: 768px) {
  nav {
    background: #4056A1;
  }

}
