.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-tweet form {
  display: flex; 
  flex-direction: column;
}

.new-tweet textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #545149;
  outline: 0;
  resize: none;
  height: 5em;
  font-size: 0.9em;
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5em 0;
  font-family: 'Bungee', cursive, sans-serif;
}

.new-tweet button {
  background-color: #4056A1;  
  color: #FFFFFF;
  outline: none;
  border: none;
  border-radius: 3px;
}

.new-tweet button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.over-limit {
  color: red;
}